common:jdk11 --host_javabase=@bazel_tools//tools/jdk:remote_jdk11
common:jdk11 --javabase=@bazel_tools//tools/jdk:remote_jdk11
common:jdk11 --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla
common:jdk11 --java_toolchain=@bazel_tools//tools/jdk:toolchain_vanilla

#build --config=jdk11

test --test_output=errors
build --javacopt=-g
build --action_env=PATH
